.header-main {
    margin-top: 90px;
}

.intro {
    background-image: url(../images/mugs1.jpg);
    background-size: cover;
    background-position: top;
    height: 90vh;
}

.logo-centered {
    text-align: center;
}

.navbar-brand {
    margin-right: 0;
    font-size: 1.5rem;
}

.header-m-left {
    margin-left: 50px;
}

.header-m-left a:not(:last-child) {
    margin-right: 20px;
}

.col-auto {
    position: relative;
}

.form-control {
    height: calc(1.5em + 1.5rem + 4px);
}

.owl-carousel {
    margin-top: 60px;
    margin-bottom: 60px;
}

.card-product .img-wrap {
    height: 300px;
    border-radius: 0;
}

.section-m-top {
    margin-top: 90px;
}

.cart-m-top {
    margin-top: 75px;
}

.table td {
    padding: 0.6rem;
}

.breadcrumb {
    margin-left: 80px;
}






