.header-main {
    margin-top: 90px;
}

.intro {
    background-image: url(../images/mugs1.jpg);
    background-size: cover;
    background-position: top;
    height: 90vh;
}

.logo-centered {
    text-align: center;
}

.navbar-brand {
    margin-right: 0;
    font-size: 1.5rem;
}

.header-m-left {
    margin-left: 50px;
}

.header-m-left a:not(:last-child) {
    margin-right: 20px;
}

.col-auto {
    position: relative;
}

.form-control {
    height: calc(1.5em + 1.5rem + 4px);
}

.owl-carousel {
    margin-top: 60px;
    margin-bottom: 60px;
}

.card-product .img-wrap {
    height: 300px;
    border-radius: 0;
}

.section-m-top {
    margin-top: 90px;
}

.cart-m-top {
    margin-top: 75px;
}

.table td {
    padding: 0.6rem;
}

.breadcrumb {
    margin-left: 80px;
}

.registration-form {
    padding-top: 110px;
    padding-bottom: 15px;
}

footer {
    padding-top: 50px;
    padding-bottom: 15px;
}

.row aside:not(:last-child) {
    margin-right: auto;
}

.map-container-section {
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map-container-section iframe {
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

.md-form i, .ic i {
    background: black;
	padding: 10px;
	border-radius: 0;
}

.md-form .fas, .ic .fas {
    color: lightgray;
}

.btn-group:hover > a {
    color: white;
}

.btn-group > a {
    margin-top: 10px;
    margin-right: 15px;
}




