.header-main {
    margin-top: 90px;
}

.intro {
    background-image: url(../images/mugs1.jpg);
    background-size: cover;
    background-position: top;
    height: 90vh;
}

.logo-centered {
    text-align: center;
}

.navbar-brand {
    margin-right: 0;
    font-size: 1.5rem;
}

.header-m-left {
    margin-left: 50px;
}

.header-m-left a:not(:last-child) {
    margin-right: 20px;
}

.col-auto {
    position: relative;
}

.search-menu {
    position:absolute;
    top:100%;
    left: auto;
    right:0;
    z-index:1100;
    display:none;
    float:right;
    text-align:right;
    background-color:#fff;
}

.form-control {
    height: calc(1.5em + 1.5rem + 4px);
}

.owl-carousel {
    margin-top: 60px;
    margin-bottom: 60px;
}

.card-product .img-wrap {
    height: 300px;
    border-radius: 0;
}






